/********HERO SECTION*********/
.hero__section {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 100px 0px;
  animation: fadeIn 0.5s ease-in;
}
.hero__section--left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.hero__section--left > h1 {
  font-size: 5rem;
  line-height: 5.5rem;
  margin-bottom: 30px;
}
.hero__section--left > p {
  font-size: 18px;
  font-weight: 300;
}
.title-text {
  font-size: 5rem;
  color: var(--primary);
  font-weight: 800;
  font-family: "Dancing Script", cursive;
}

.hero__section--right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 4rem;
}
.hero__section--right > img {
  height: auto;
  width: 90%;
  border-radius: 50px;
}

/********CATEGROY SECTION*********/
.category__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: auto;
  padding: 50px 0px;
  gap: 50px;
  margin-bottom: 50px;
  border-top: 1px solid #ececec;
}
.category__section--top,
.items__section--top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category__section--top > h3,
.items__section--top > h3 {
  font-size: 3rem;
  color: var(--primary);
  font-family: "Dancing Script", cursive;
}
.category__section--top > h1,
.items__section--top > h1 {
  font-size: 2rem;
}
.category__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 2rem;
}
.border {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
}
.category__img > img {
  height: auto;
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 10px;
}
.category__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.category__text > h3 {
  font-size: 2rem;
  text-align: center;
}
.category__text > p {
  font-size: 1rem;
  line-height: 25px;
  text-align: justify;
  height: 320px;
}

/* Items section */
.items__section {
  width: 85%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-top: 1px solid #ececec;
}
.items__section--main {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.items__section--down {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  flex-wrap: wrap;
  cursor: pointer;
}
.items__section--down > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.items__section--down > img:hover {
  filter: grayscale(1);
}

.item-btn {
  width: 100%;
  background: linear-gradient(45deg, var(--primary), var(--primary-hover));
  font-weight: 600;
  border: none;
  letter-spacing: 1px;
  color: white;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.items__flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

/* Images section */
.image__section {
  display: flex;
  width: 85%;
  margin: 100px auto;
  margin-bottom: 0px !important;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.image_section--left {
  width: 40%;
  background-image: url("../img/white-bread.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 350px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
}
.image_section--left-pad {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.image_section--left-pad > h3,
.image_section--right > h3 {
  font-size: 1.6rem;
  color: #1d1f1d;
}
.image_section--left-pad > p {
  font-weight: 300;
  color: rgb(1, 1, 59);
}
.image_section--right {
  width: 60%;
  margin-bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.image_section--right > p {
  font-weight: 300;
  text-align: justify;
  line-height: 25px;
}
.second-image-section {
  margin-top: 0rem;
}
.second-left {
  width: 60%;
  background-image: url("../img/patty.jpg");
}
.second-right {
  width: 40%;
}

/* Testimonial section  */
.testimonial__section {
  width: 85%;
  margin: auto;
}
.testimonial__section--main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 3rem;
}
.testimonial__section--top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.testimonial__section--top > h1 {
  font-size: 3rem;
  color: var(--primary);
  font-family: "Dancing Script", cursive;
}
.testimonial__section--top > p {
  font-size: 2rem;
  font-weight: 700;
}
.testimonial__section--down {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.testimonial_section--box {
  position: relative;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.testimonial {
  font-size: 1.8rem;
}
.testimonial_section--box > p {
  font-size: 1rem;
  text-align: center;
  line-height: 25px;
}
.testimonial_section--box > h1 {
  font-size: 1.3rem;
  text-align: center;
}

.testimonial__img1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.testimonial__img1 > img {
  width: 100%;
  object-fit: cover;
  height: 12rem;
  width: 12rem;
  border-radius: 50rem;
}

/* end of Testimonial section  */

.contact__icon {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10rem;
  margin: 80px 0px;
  border-top: 2px solid rgba(67, 67, 67, 0.055);
  margin-top: 10%;
  padding-top: 80px;
}
.icon_main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
  color: rgb(67, 67, 67);
  flex-direction: column;
}
.icon_main > i {
  font-size: 2rem;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.034);
  padding: 1rem;
  border-radius: 5rem;
  color: var(--primary);
}
.icon_main > p {
  font-size: 1.3rem;
}

/* Responsive css start here */
@media only screen and (max-width: 1200px) {
  .testimonial__img1 > img {
    position: relative;
    top: 0;
    left: 0;
  }

  .testimonial_section--box {
    padding: 1.5rem 1rem;
  }
  .testimonial_section--box > p {
    font-size: 1.1rem;
  }
  .testimonial_section--box > h1 {
    font-size: 1.2rem;
  }
  .testimonial__section--main {
    gap: 3rem;
  }
  .image_section--right > p {
    font-size: 1.2rem;
  }
  .image_section--right > h3 {
    font-size: 2rem;
  }
  .image__section {
    flex-direction: column;
    gap: 0;
    margin: 4rem;
    margin-bottom: -19rem;
  }
  .image_section--left {
    width: 100%;
    height: 400px;
  }
  .second-right {
    width: 100%;
    height: auto;
  }
  .image_section--right {
    width: 100%;
    padding-left: 0;
  }
  .items__flex {
    gap: 2rem;
  }
  .hero__section--left > h1 {
    font-size: 4rem;
  }
  .category__section {
    margin: 4rem;
  }
  .contact__section {
    padding: 2rem;
  }
  .form__controller {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .items__section {
    margin: 4rem;
  }
  .testimonial__section {
    margin: 4rem;
    padding-top: 18rem;
  }
  .testimonial__section--down {
    justify-content: space-evenly;
  }
  .footer__section {
    padding: 4rem;
  }
}
.header > .hamburger {
  width: 20px;
  height: 15px;
  margin-left: 20px;
  display: none;
  color: white;
}
@media only screen and (max-width: 800px) {
  .navbar > .left-navbar > .nav-items {
    position: absolute;
    top: 92px;
    left: 0;
    background: #333;
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  .navbar > .left-navbar > .nav-items > li {
    display: block;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .navbar {
    width: 100%;
  }

  .navbar > .left-navbar > .nav-items > li > a {
    color: #fff;
    padding: 0;
  }

  .header > .hamburger {
    display: block;
    cursor: pointer;
    margin-top: 2.2rem;
    margin-right: 2.2rem;
  }
  #MenuItems {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0rem;
  }
  /* hero section responsiveness */
  .hero__section {
    flex-direction: column;
    align-items: center;
    padding: 43px 0px;
    width: 100%;
  }
  .hero__section--left > h1 {
    font-size: 3rem;
    line-height: 4.5rem;
    margin-bottom: 10px;
    text-align: center;
  }
  .hero__section--left {
    align-items: center;
  }
  .hero__section--right {
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .hero__section--right > img {
    height: auto;
    width: 100%;
    border-radius: 10px;
  }
  /* category section  */
  .category__section {
    padding: 0px;
    width: 100%;
    margin: 0rem;
  }
  .category__top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
  }
  .category__text > p {
    height: auto;
  }
  .items__section {
    margin: 0rem;
  }
  .items__section {
    width: 100%;
    flex-wrap: wrap;
  }
  .items__flex {
    gap: 5rem;
  }
  .image__section {
    margin: 0rem;
    margin-top: 1rem;
    width: 100%;
  }
  .testimonial__section {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .testimonial__section--down {
    flex-direction: column;
  }
  .testimonial_section--box {
    width: 100%;
    gap: 1rem;
    padding: 0rem;
  }
  .contact__icon {
    flex-wrap: wrap;
    gap: 1rem;
    padding: 10px;
    margin: 0;
  }
  .icon_main > p {
    font-size: 0.8rem;
  }
  .footer-main {
    width: 96%;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .footer-logo > p {
    font-size: 1rem;
  }
  .footer-product > ul > li > a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 540px) {
  .hero__section--left > h1 {
    font-size: 2rem;
    font-size: 2rem;
    line-height: 3.5rem;
  }
  .hero__section--left > p {
    font-size: 15px;
  }
  .hero__section--left > h1 > span {
    font-size: 2rem;
  }
  .hero__section--right > img {
    height: auto;
    width: 98%;
    border-radius: 1px;
  }
  .category__section {
    gap: 2px;
  }
  .category__section--top > h3,
  .items__section--top > h3 {
    font-size: 2rem;
  }
  .category__section--top > h1,
  .items__section--top > h1 {
    font-size: 1.5rem;
  }
  .category__text > h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .category__text > p {
    height: auto;
    font-size: 15px;
  }
  .items__flex {
    flex-direction: column;
    gap: 15px;
  }

  .items__section--down {
    margin-top: 0px;

    width: 100%;
  }
  .image_section--left {
    width: 100%;
    border-radius: 2px;
  }
  .image_section--right > p {
    font-size: 15px;
    padding: 10px;
  }
  .image_section--right > h3 {
    padding: 10px;
    font-size: 1.5rem;
  }
  .image_section--right {
    gap: 0;
  }
  .testimonial__section--top > h1 {
    font-size: 2rem;
  }
  .testimonial__section--top > p {
    font-size: 1.5rem;
  }
  .testimonial_section--box > p {
    font-size: 15px;
  }
  .testimonial {
    font-size: 1.2rem;
  }
  .testimonial_section--box > h1 {
    font-size: 15px;
  }
  .divider {
    display: none;
  }
}
