/************************************* */
/********* Navigation section **********/
/************************************* */

.header {
  display: flex;
  background: var(--primary);
}

.navbar {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.left-navbar {
  display: flex;
  gap: 20px;
  align-items: center;
}
.divider {
  font-size: 1.2rem;
  color: white;
}

.nav-items {
  display: flex;
  gap: 20px;
  color: white;
  align-items: center;
}
.nav-items > li > a {
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid transparent;
}

.nav-items > li > a:hover {
  border-bottom: 2px solid white;
}

.right-navbar > .nav-items > li > a:hover {
  border-bottom: 2px solid transparent !important;
}

/************************************* */
/*********** Footer Section ************/
/************************************* */
.footer {
  background-color: azure;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}
.footer-logo > img {
  height: 100px;
  width: auto;
  cursor: pointer;
}
.footer-logo > p {
  font-size: 1.3rem;
}
.footer-product {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.footer-product > h1 {
  font-size: 1.2rem;
}
.footer-product > ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}
.footer-product > ul > li {
  list-style: none;
}
.footer-product > ul > li > a {
  text-decoration: none;
  color: black;
}
.follow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.social_media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.social_media > i {
  font-size: 20px;
  color: #ff8e25;
  cursor: pointer;
}
.footer > p {
  border-top: 1px solid #e4e4e4;
  padding-top: 20px;
  width: 85%;
  margin: auto;
  text-align: center;
  color: #888888;
}
