* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 66.7%;
  font-family: Georgia, serif;
}
.header {
  background-color: #ff9c40;
  padding: 1rem 10rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.logo > img {
  height: 70px;
  width: auto;
  cursor: pointer;
}
.line > p {
  font-size: 20px;
  color: white;
}
.nav_lists > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.nav_lists > ul > li {
  list-style: none;
}
.nav_lists > ul > li:hover {
  text-decoration: underline white;
}
.nav_lists > ul > li > a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
.right__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.search,
.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search > i {
  font-size: 1.5rem;
  color: white;
}
.btn > i {
  font-size: 1.5rem;
  color: white;
}
.search > p {
  font-size: 1.5rem;
  color: white;
}
.btn {
  padding: 1rem 5rem;
  font-size: 1.5rem;
  border: none;
  background-color: #ff8e25;
  border-radius: 5rem;
  cursor: pointer;
  color: white;
  cursor: pointer;
}

/* hero section */
.hero__section {
  padding: 5rem 10rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  background-color: azure;
}
.hero__section--left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.hero__section--left > h1 {
  font-size: 6rem;
  font-family: Georgia, serif;
}
.hero__section--left > p {
  font-size: 1.5rem;
  line-height: 25px;
}
span {
  font-size: 6rem;
  color: #ff9c40;
  font-family: Georgia, serif;
}

.hero_bg > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.hero__section--right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 4rem;
}
.hero__section--right > img {
  height: auto;
  width: 75%;
  border-radius: 4rem;
}
.hero-btn {
  border: 1px solid #ff8e25;
}
.hero-btn:hover {
  background: transparent;
  border: 1px solid #ff8e25;
  color: #ff8e25;
}
/* category section  */
.category__section {
  margin: 10rem;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category__section--top,
.items__section--top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.category__section--top > h3,
.items__section--top > h3 {
  font-size: 2rem;
  color: #ff8e25;
}
.category__section--top > h1,
.items__section--top > h1 {
  font-size: 2rem;
}
.category__top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* flex-direction: column; */
  width: 100%;
  gap: 2rem;
}
.border {
  border: 2px solid #efe0d2;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  /* padding: 1rem; */
  border-radius: 10px;
  /* box-shadow: 1px 1px 10px #888888; */
}
.category__img > img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}
.category__text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
}
hr {
  height: 2px;
  background-color: #ff8e25;
}
.category__text > h3 {
  font-size: 2rem;
}
.category__text > p {
  font-size: 1.3rem;
}
.category-btn {
  background-color: #ff8e25;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.category-btn:hover {
  background-color: #ffa94d; /* lighter shade on hover */
}

/* items section */
.items__section {
  margin: 10rem;
  margin-bottom: 2rem;
  margin-right: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: azure; */
}
.items__section--main {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.items__section--down {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  flex-wrap: wrap;
}
.items__section--down > img {
  width: 70%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}
.item-btn {
  width: 70%;
  background-color: #ff8e25;
  font-size: 1.5rem;
  border: none;
  color: white;
  padding: 1rem;
}
.items__flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.image__section {
  display: flex;
  margin: 10rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6rem;
}
.image_section--left {
  width: 40%;
  background-image: url("../img/white-bread.webp");
  padding: 2rem;
  padding-left: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 430px;
  display: flex;
  align-items: flex-end;
}
.image_section--left-pad {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.image_section--left-pad > h3,
.image_section--right > h3 {
  font-size: 3rem;
  color: #1d1f1d;
}
.image_section--left-pad > p {
  font-size: 1.9rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: rgb(1, 1, 59);
}
.image_section--right {
  width: 60%;

  /* background-image: url("../img/patty.jpg"); */
  padding: 2rem;
  padding-left: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 460px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.image_section--right > p {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: justify;
  line-height: 25px;
}
.second-image-section {
  margin-top: 0rem;
}
.second-left {
  width: 60%;
  background-image: url("../img/patty.jpg");
}
.second-right {
  width: 40%;
}

/* Testimonial section  */
.testimonial__section {
  /* margin: 10rem; */

  /* background-color: azure; */
}
.testimonial__section--main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15rem;
  margin: 10rem;
  margin-bottom: 3rem;
}
.testimonial__section--top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.testimonial__section--top > h1 {
  font-size: 2.5rem;
  color: #ff8e25;
}
.testimonial__section--top > p {
  font-size: 1.9rem;
}
.testimonial__section--down {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  gap: 2rem;
}
.testimonial_section--box {
  position: relative;
  background-color: #efefef;
  width: 30%;
  padding: 5.5rem 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 1px 1px 5px #888888;
}
.testimonial {
  font-size: 1.8rem;
}
.testimonial_section--box > p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 25px;
}
.testimonial_section--box > h1 {
  font-size: 1.8rem;
  text-align: center;
}
/* .testimonial__section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
.testimonial__img1 > img {
  position: absolute;
  top: 307rem;
  left: 24rem;
  height: 12rem;
  width: 12rem;
  border-radius: 50rem;
}
.testimonial__img2 > img {
  position: absolute;
  top: 307rem;
  left: 65rem;
  height: 12rem;
  width: 12rem;
  border-radius: 50rem;
}
.testimonial__img3 > img {
  position: absolute;
  top: 307rem;
  left: 105rem;
  height: 12rem;
  width: 12rem;
  border-radius: 50rem;
}

/* end of Testimonial section  */
/* footer section */
.footer__section {
  background-color: azure;
  padding: 10rem;
  padding-top: 2rem;
}
.footer__main {
  /* margin: 10rem; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__logo > img {
  height: 70px;
  width: auto;
  cursor: pointer;
}
.footer__logo > p {
  font-size: 1.3rem;
}
.footer-product {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1.4rem;
}
.footer-product > h1 {
  font-size: 1.5rem;
}
.footer-product > ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  gap: 1.5rem;
}
.footer-product > ul > li {
  list-style: none;
}
.footer-product > ul > li > a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}
